body{
  background-color : #29b6f6;
  color: black;
  font-family: 'Rowdies', cursive;
}

h1{
    text-align: center;
}

input{
  background-color: #29b6f6;
  height: 30px;
  width: auto;
}

input:hover{
  background-color: black;
  color: #29b6f6;
}
